@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/carousel/styles.css";
@import "@mantine/dates/styles.css";

.html {
  scroll-behavior: smooth;
}

:root {
  --bg-gradient-purple: radial-gradient(125% 125% at 50% 10%, hsla(0, 0%, 100%, 1) 40%, hsla(262, 83%, 58%, 0.5) 100%);
  --bg-white: #f1eef6;

  @mixin light-root {
    --text-color: #4b575b;
  }

  @mixin dark-root {
    --text-color: #4b575b;
  }
}

::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}
