.paperWrapper {
    width: 100%;
    height: 100%;
    max-width: rem(900px);
    background-color: var(--bg-white);
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 450px;
    }
}

.col {
    background-color: #fff;
    padding: var(--mantine-spacing-xl);
}